{% extends "base.html" %}
{% block content %}

<h2>Dialog Tests</h2>
<body>

<p></p>
<!-- Dialog Window. -->
<h4>Modal example-1</h4>
<dialog id="dialog_window">
  <h3>Hello World!</h3>
  <p>Test Dialog Window!</p>
  <button id="exit">Exit</button>
</dialog>
<button id="btn_show">Show Dialog</button>


<!-- A Modal Dialog box. -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span id="modal-close" class="close">&times;</span>
    <p>Generate AWS Tokens</p>
    <p></p>
  </div>
</div>

<br><br>
<h4>Modal example-2</h4>
<button class="btn btn-primary btn-sm" id="myBtn">modal dialog open</button>

<script type="text/javascript" src="/static/js/dialog.js"></script>

<p></p>
<a href="#" onclick="location.href='/';" >Back to Home</a>

{% endblock %}
