{% extends "base.html" %}
{% block content %}

<h2>Dialog Tests</h2>
<body>

<p></p>
<!-- Dialog Window. -->
<h4>Modal example-1</h4>
<dialog id="dialog_window">
  <h3>Hello World!</h3>
  <p>Test Dialog Window!</p>
  <button id="exit">Exit</button>
</dialog>
<button id="btn_show">Show Dialog</button>


<!-- A Modal Dialog box. -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span id="modal-close" class="close">&times;</span>
    <p>Generate AWS Tokens</p>
    <p></p>
  </div>
</div>

<br><br>
<h4>Modal example-2</h4>
<button class="btn btn-primary btn-sm" id="myBtn">modal dialog open</button>

<div class="container">
    <br><br>
    <h4>Dialog example-3</h4>
    <button type="button"
    class="btn btn-default" data-container="body" data-toggle="popover"
    data-placement="left" data-content="Vivamusucibus."
    data-original-title="" title="">Left</button>
    <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." data-original-title="" title="">Right</button>

    <br>
    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="" data-original-title="Tooltip on right">Right</button>

    <br>
</div>

<script type="text/javascript" src="/static/js/dialog.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js">
<script type="text/javascript" src="/static/js/custom.js">


<p></p>
<a href="#" onclick="location.href='/';" >Back to Home</a>

{% endblock %}
