<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>p5.js example</title>
  <style>
    body {
      padding: 5;
      margin: 5;
    }
  </style>
  <script src="/static/js/thirdparty/p5.min.js"></script>
</head>

<body>
  <main>
    <h2> Instance mode</h2>
    <br>
    <div>
      Container 1.
      <div id="sketch1"></div>
    </div>
    <br>
    <div>
      Container 2.
      <div id="sketch2"></div>
    </div>

  </main>
  <!-- Moving sketch.js in body as it uses dom elements.-->
  <script src="/static/js/shapes.js"></script>
</body>

</html>
