body {
    font-family: 'Montserrat', sans-serif;
	margin: 16px 11px 0px 11px;
}

.grid-container {
	display: grid;
	grid-template-columns: 30% 30% 1fr;
    border: 2px solid black;
    margin: 15px;
}



#container-1 {
	margin: 10px 10px 10px 10px;
}


.simple {
	border: 1px solid #dee2e6;
	margin-bottom: 20px;
	text-align: center;
	vertical-align: middle;
	padding: 10px;
}



.simple td {
	border-top: 1px solid #dee2e6;
}


th {
	cursor: pointer;
}



/*
.grid-container {
	display: grid;
	grid-template-columns: 50% 50% 1fr;
    grid-template-rows: fit-content;
    border: 12px solid black;
    margin: 15px;
}
*/