<!DOCTYPE html>
<html lang = "en">
    <head>
	     <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
	      rel="stylesheet">
	     <link rel="stylesheet" type="text/css" href="{{ url_for('static',
	      filename="main.css") }}">

        <style>
         h1 {
           color: red;
         }
        </style>
    </head>

   <body>
	   <section>

           <u><b>Example 1:</b></u>
           You can use the element as the selector to apply style to all
           like below, or you can specify a class selector. Note here that due to the
           specificity rules the class selector takes precedence:
           <br><br>

           <textarea cols="64" rows="12" disabled>
            h1 {
                color: red;
            }

			.blue-header {
				color: blue;
			}

           </textarea>
	       <h1>CSS Example 1</h1> - Here style is applied through element selector
           <h1 class="blue-header">CSS Example (with style)</h1> style applied through class
           selector
	   </section>
	   <br><hr>
	   <section>
	   Attribute selector
       <button>Enabled</button>
       <button disabled="true">Disabled</button>
	   </section>

	    </body>
</html>
