<!DOCTYPE html>
<html lang = "en">
    <head>
	     <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
	      rel="stylesheet">
	     <link rel="stylesheet" type="text/css" href="{{ url_for('static',
	      filename="main.css") }}">

        <style>
         h1 {
           color: red;
         }
        </style>
    </head>

   <body>
	   <section>

           <u><b>Example 1:</b></u>
           You can use the element as the selector to apply style to all
           like below, or you can specify a class selector. Note here that due to the
           specificity rules the class selector takes precedence:
           <br><br>

           <textarea cols="64" rows="12" disabled>
            h1 {
                color: red;
            }

			.blue-header {
				color: blue;
			}

           </textarea>
	       <h1>CSS Example 1</h1> - Here style is applied through element selector
           <h1 class="blue-header">CSS Example (with style)</h1> style applied through class
           selector
	   </section>
	   <br><hr>
	   <section>
	   Attribute selector
       <button>Enabled</button>
       <button disabled="true">Disabled</button>
	   </section>
	   <br><hr>
	   <section>
	   Combinators (Adjacent siblings)
	   <div class="section3">
		   <h2>Child 1</h2>
		   <p>This is a child 1</p>
		   <h2>Child 2</h2>
		   <p>This is a second child</p>
		   <span>This is a span</span>
		   <p>Paragraph after span</p>
	   </div>
       <button>Enabled</button>
       <button disabled="true">Disabled</button>
	   </section>

	   <br><hr>
	   <section>
	   Combinators (General siblings)
	   <div class="section4">
		   <p>There is a child with no style</p>
		   <h2>Child 11</h2>
		   <p>This is a child 11</p>
		   <p>This is a second child2</p>
		   <span>This is a span</span>
		   <p>Paragraph after span - </p>
	   </div>
       <button>Enabled</button>
       <button disabled="true">Disabled</button>
	   </section>



       <br><hr>
	   <section class="section5">
	       Flexbox
	       <div class="flex-container">
	           <div class="item-1">w=250px</div>
	           <div class="item-2">w/h=300px</div>
	           <div class="item-3">h=250px</div>
	           <div class="item-4">h/w=300px</div>
	           <div class="item-5">w=350px</div>
	           <div class="item-6">w=350px</div>
	       </div>
       </section>

       <br><hr>
	   <section class="section6">
	       Grid...
	       <div class="grid-container">
	           <div class="gi-1">grid element 1 w=250px</div>
	           <div class="gi-2">grid element 2 w/h=300px</div>
	           <div class="gi-3">grid element 3 h=250px</div>
	           <div class="gi-4">grid element 4 h/w=300px</div>
	           <div class="gi-5">grid element 5 w=350px</div>
	           <div class="gi-6">grid element 6 w=350px</div>
	       </div>
       </section>

       <br><hr>
	   <section class="section7">
	       Grid2...
	       <div class="grid-container2">
	           <div class="gi-12">grid element 1 w=250px</div>
	           <div class="gi-22">grid element 2 w/h=300px</div>
	           <div class="gi-32">grid element 3 h=250px</div>
	           <div class="gi-42">grid element 4 h/w=300px</div>
	           <div class="gi-52">grid element 5 w=350px</div>
	           <div class="gi-62">grid element 6 w=350px</div>
	       </div>
       </section>

       <br><br>
       END
	    </body>
</html>
