<!DOCTYPE html>
<html lang = "en">
    <head>
	     <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
	      rel="stylesheet">
	     <link rel="stylesheet" type="text/css" href="{{ url_for('static',
	      filename="main.css") }}">

        <style>
         h1 {
           color: red;
         }
        </style>
    </head>

   <body>
	   <section>
           Example 1:
           You can use the element as the selector to apply style to all
           like below:
           <br>
           <textarea cols="60" rows="20" disabled>
               h1 {
	               color: red;
               }

           </textarea>
	   </section>

	   <h1>CSS Example 1</h1>
       <br>
       <h1>CSS Example (with style)</h1>
       <h2>
           CSS Example
       </h2>
   </body>
</html>
