<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>uHost</title>
    <link rel="shortcut icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
	      filename="shared.css") }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
	      filename="project.css") }}">
</head>

<body>
	<div class="modal">
        <h1 class="modal__title">Do you want to continue?</h1>
        <div class="modal__actions">
            <a href="start-hosting/index.html" class="modal__action">Yes!</a>
            <button class="modal__action modal__action--negative" type="button">No!</button>
        </div>
    </div>
	 <header class="main-header">
        <div>
	        <button class="toggle-button">
	          <span class="toggle-button__bar"></span>
	          <span class="toggle-button__bar"></span>
	          <span class="toggle-button__bar"></span>
	        </button>
            <a href="/project" class="main-header__brand">
                <img src="/static/images/uhost-icon.png" alt="uHost - Your favourite hosting">
            </a>
        </div>
        <nav class="main-nav">
            <ul class="main-nav__items">
                <li class="main-nav__item">
                     <a href="/packages">Packages</a>
                </li>
                <li class="main-nav__item">
                    <a href="/customers">Customers</a>
                </li>
                <li class="main-nav__item main-nav__item--cta">
                    <a href="start-hosting/index.html">Start Hosting</a>
                </li>
            </ul>
        </nav>
    </header>
    <nav class="mobile-nav">
        <ul class="mobile-nav__items">
            <li class="mobile-nav__item">
                <a href="packages/index.html">Packages</a>
            </li>
            <li class="mobile-nav__item">
                <a href="customers/index.html">Customers</a>
            </li>
            <li class="mobile-nav__item mobile-nav__item--cta">
                <a href="start-hosting/index.html">Start Hosting</a>
            </li>
        </ul>
    </nav>
    <main>
        <section id="product-overview">
            <h1>Get the freedom you deserve.</h1>
        </section>
        <section id="plans">
            <h1 class="section-title">Choose Your Plan</h1>
            <div class="plan__list">
                <article class="plan">
                    <h1 class="plan__title">FREE</h1>
                    <h2 class="plan__price">$0/month</h2>
                    <h3>For hobby projects or small teams.</h3>
                    <ul class="plan__features">
                        <li>1 Workspace</li>
                        <li>Unlimited Traffic</li>
                        <li>10GB Storage</li>
                        <li>Basic Support</li>
                    </ul>
                    <div>
                        <button class="action-button">CHOOSE PLAN</button>
                    </div>
                </article>
                <article class="plan plan__recommended">
                    <h1 class="plan__annotation">RECOMMENDED</h1>
                    <h1 class="plan__title">PLUS</h1>
                    <h2 class="plan__price">$29/month</h2>
                    <h3>For ambitious projects.</h3>
                    <ul class="plan__features">
                        <li>5 Workspaces</li>
                        <li>Unlimited Traffic</li>
                        <li>100GB Storage</li>
                        <li>Plus Support</li>
                    </ul>
                    <div>
                        <button class="action-button">CHOOSE PLAN</button>
                    </div>
                </article>
                <article class="plan">
                    <h1 class="plan__title">PREMIUM</h1>
                    <h2 class="plan__price">$99/month</h2>
                    <h3>Your enterprise solution.</h3>
                    <ul class="plan__features">
                        <li>10 Workspaces</li>
                        <li>Unlimited Traffic</li>
                        <li>Unlimited Storage</li>
                        <li>Priority Support</li>
                    </ul>
                    <div>
                        <button class="action-button">CHOOSE PLAN</button>
                    </div>
                </article>
            </div>
        </section>
        <section id="key-features">
            <h1 class="section-title">Many Good Reasons to Stick Around</h1>
            <ul class="key-features__items">
                <li class="key-features__item">
                    <div class="key-feature__image">

                    </div>
                    <p>3,857,000 Trusting Customers</p>
                </li>
                <li class="key-features__item">
                    <div class="key-feature__image">

                    </div>
                    <p>99.999% Uptime Guarantee</p>
                </li>
                <li class="key-features__item">
                    <div class="key-feature__image">

                    </div>
                    <p>Lightning Fast CDN</p>
                </li>
            </ul>
        </section>
    </main>
    <footer class="main-footer">
        <nav>
            <ul class="main-footer__links">
                <li class="main-footer__link">
                    <a href="#">Support</a>
                </li>
                <li class="main-footer__link">
                    <a href="#">Terms of Use</a>
                </li>
            </ul>
        </nav>
    </footer>
    <script src="/static/js/shared.js"></script>
</body>

</html>