:root {
	--body-bg-color: #eeedeb;
	--textarea-bg-color: #d4ccd2;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: var(--body-bg-color);
	margin-left: 15px;
}


textarea {
	font-family: sans-serif;
	resize: none;
	background-color: var(--textarea-bg-color, #f9e3db);
}


h1 {
    color: red;
}

.blue-header {
	color: blue;
	font-family: sans-serif;
}

button {
	background-color: #b274f5;
	color: #080202;
	border-color: #090632;
}

[disabled] {
	background-color: #242620;
	color: #ffffff;
	border-color: black;
}

h2 + p {
	color: green;
}