Screen {
    layout: grid;
    grid-size: 3 3;
    grid-gutter: 1;
    background: indigo 10%;
}

.box {
    height: 100%;
    border: solid green;
    margin: 0 0;
    padding: 1 1;
}

Box {
    height: 100%;
    border: solid green;
    margin: 0 0;
    padding: 1 1;
    background: indigo 10%;
}