<html>
    <head>
        HEAD.1
        <script src="https://sdk.amazonaws.com/js/aws-sdk-2.628.0.min.js"></script>
    </head>
    <body onload=create_credentials()>
        BODY
        <script type="text/javascript"
           src="{{ url_for('static', filename="js/jquery-3.3.1.min.js") }}">
        </script>
        <script type="text/javascript"
           src="{{ url_for('static', filename="js/utils.js") }}">
        </script>
        <script type="text/javascript"
           src="{{ url_for('static', filename="js/aws.js") }}">
        </script>
    </body>
</html>
