<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Anton|Montserrat:400,700" rel="stylesheet">
        <script src="https://sdk.amazonaws.com/js/aws-sdk-2.628.0.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/commonbs.css") }}">
    </head>
    <body id="body" onload=initiate_test_bs_render()>
	    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
		  <a class="navbar-brand" href="#">Navbar</a>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Home</a>
		      </li>
		    </ul>
		  </div>
		</nav>
	    <h2>Static rendering</h2>
	    <hr>
	    <h3> Bootstrap conttainer-fluid</h3>
	    <ul class="nav nav-custom">
			  <li class="nav-item">
			    <a class="nav-link active" href="#">Active</a>
			  </li>
			  <li class="nav-item dropdown">
				    <a class="nav-link dropdown-toggle" data-toggle="dropdown"
					    href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
					</a>
				    <div class="dropdown-menu nav-custom">
				      <a class="dropdown-item" href="#">Action</a>
				      <a class="dropdown-item" href="#">Another action</a>
				      <a class="dropdown-item" href="#">Something else here</a>
				      <div class="dropdown-divider"></div>
				      <a class="dropdown-item" href="#">Separated link</a>
				    </div>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Link</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Link</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link disabled" href="#">Disabled</a>
			  </li>
		</ul>

	    <div class="container-fluid">
		    <ul class="nav nav-custom">
			  <li class="nav-item">
			    <a class="nav-link active" href="#">Active</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Link</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">Link</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link disabled" href="#">Disabled</a>
			  </li>
			</ul>
		    <div class="row">
			    <div class="col-4 elr1c1">
				    Row 1 Col 1
			    </div>
			    <div class="col-8 elr1c2">
			        Row 1 Col 2
			    </div>
		    </div>

		    <div class="row">
		        <div class="col-4 elr2c1">
			        Row 2 Col 1
			    </div>
			    <div class="col-8 elr2c2">
				    Row 2 Col 2
			    </div>

		    </div>
		    <div class="row">
			    <div class="col-4 elr3c1">
				    Row 3 Col 1
			    </div>
			    <div class="col-8 elr3c2">
				    Row 3 Col 2
			    </div>
		    </div>
	    </div>

        <br>
        <h3> Managed container</h3>
        <hr>
        <div class="container-custom">
        <div class="el1">Element 1

	        <div id="accordion">
			  <div class="card">
			    <div class="card-header" id="headingOne">
			      <h5 class="mb-0">
			        <button class="btn btn-link" data-toggle="collapse"
			         data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          Collapsible Group Item #1
			        </button>
			      </h5>
			    </div>

			    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
			      <div class="card-body">
			        Animigin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			      </div>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-header" id="headingTwo">
			      <h5 class="mb-0">
			        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          Collapsible Group Item #2
			        </button>
			      </h5>
			    </div>
			    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
			      <div class="card-body">
			        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non nt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			      </div>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-header" id="headingThree">
			      <h5 class="mb-0">
			        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			          Collapsible Group Item #3
			        </button>
			      </h5>
			    </div>
			    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
			      <div class="card-body">
			        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, no probably haven't heard of them accusamus labore sustainable VHS.
			      </div>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-header" id="headingFour">
			      <h5 class="mb-0">
			        <button class="btn btn-link btn-link-custom collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
			          Collapsible Group Item #4
			        </button>
			      </h5>
			    </div>
			    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
			      <div class="card-body">
			        <div class="accordian-item"><span>Build your own</span><hr></div>
			        <div class="accordian-item">Run from samples<hr></div>
			      </div>
			    </div>
			  </div>
			</div>



        </div>
        <div class="el2">Element 2</div>
        <div class="el3">Element 3</div>
        <div class="el4">Element 4</div>
        </div>

        <br><br>
	    <h2>Dynamic rendering</h2>
        <hr>

        <script type="text/javascript"
           src="{{ url_for('static', filename="js/jquery-3.3.1.min.js") }}">
        </script>

        <!-- Optional JavaScript -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	     integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		 crossorigin="anonymous">
		</script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	     integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		     crossorigin="anonymous">
		</script>

        <script type="text/javascript"
           src="{{ url_for('static', filename="js/renderer.js") }}">
        </script>
        <script type="text/javascript"
           src="{{ url_for('static', filename="js/test.js") }}">
        </script>
    </body>
</html>
