<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Anton|Montserrat:400,700" rel="stylesheet">
        <script src="https://sdk.amazonaws.com/js/aws-sdk-2.628.0.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/common.css") }}">
    </head>
    <body id="body" onload=initiate_test()>
	    <h2>Static rendering</h2>

        <script type="text/javascript"
           src="{{ url_for('static', filename="js/jquery-3.3.1.min.js") }}">
        </script>

        <!-- Optional JavaScript -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	     integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		 crossorigin="anonymous">
		</script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	     integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		     crossorigin="anonymous">
		</script>

        <script type="text/javascript"
           src="{{ url_for('static', filename="js/renderer.js") }}">
        </script>
        <script type="text/javascript"
           src="{{ url_for('static', filename="js/test_new_render.js") }}">
        </script>
    </body>
</html>
