<html>
	<head>
		<title>Bootstrap Test</title>
		    <link href="static/thirdparty/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		Bootstrap!
		<div class="container" role="main">
            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
              <h1>Theme example</h1>
              <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a  starting point to create something more unique by building on or modifying it.</p>
            </div>
        <div>
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/thirdparty/jquery/jquery-3.3.1.min.js"></script>
    <script src="static/thirdparty/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="static/js/docs.min.js"></script>
	</body>
</html>
