<html>
	<head>
		<title>Bootstrap Test</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="static/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		
		<div class="container" role="main">
		   <p>Buttons!</p>
		        <button type="button" onclick="ClickHandler('default')" class="btn btn-lg btn-default">Default</button>
		    <p></p>
		    <div id="print">Print here</div>    

        <div>
		

	        
	        
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery-3.2.0.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/docs.min.js"></script>
    <script src="static/js/common.js"></script>
	</body>
</html>