{% extends 'base.html' %}
{% block head %}
    {{ super() }}

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>

    <style>
    </style>
    This is child head.
{% endblock %}
{% block body %}
<br>
Data: {{ data }}
<br>
Now : {{ data.now }}

<br>
Local time/Utc time

<br>
<script>
var a = moment().format();
console.log(a);
console.log(moment().format('MMMM Do YYYY, h:mm:ss a'));

</script>
<p>The current date and time is: {{ moment().format('MMMM Do YYYY, h:mm:ss a') }}.</p>
<br>

<h2> This is the new body!</h2>

{% endblock %}

