<html>
	<head>
		<title>Bootstrap Test</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link href="static/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		
		<div class="container" role="main">
		    <div>
			    Jumbotron!<p></p>
		    </div>
		    
            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
              <h1>Theme example</h1>
              <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a  starting point to create something more unique by building on or modifying it.</p>
            </div>
        <div>
		<div class="container" role="main">
		    <div>
			    Jumbotron!<p></p>
		    </div>
		    
            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
              <h1>Theme example</h1>
              <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a  starting point to create something more unique by building on or modifying it.</p>
            </div>
        <div>

	        
	        
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery-3.2.0.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/docs.min.js"></script>
	</body>
</html>