<html>
  <head>
    <title>Flask Vue Example-1</title>
    <link href="static/thirdparty/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    We are in block head. {% raw %}{{ hello }}{% endraw %}
  </head>
  <body>
    In Body!
    {% raw %}
    <div class="container-fluid">
	    <div id="app1">
	        <table>
		        <thead>
			        <tr>
				        <th>Name</th>
				        <th>Country</th>
				        <th v-bind:class="order == 1 ? `ascending`: `descending`"
					        v-on:click="sort">Electricity</th>
			        </tr>
		        </thead>
		        <tbody>
			        <tr v-for="dam in sortByElectricity">
			            <td>{{ dam.name }}</td>
			            <td>{{ dam.country }}</td>
			            <td>{{ dam.electricity }}</td>
			        </tr>
		        </tbody>
	        </table>
	    </div>
	    <div id="app2">
	        <div v-show="isNight">
	            I am a ghost!
	        </div>
	        <div v-show="isNightComputed">
		        I am a computed ghost!
	        </div>
	    </div>
	    <div id="app3">
		    <h2>users:</h2>
		    <p>{{ users }}</p>
		    <p>{{ users1 }}</p>
            <p>{{ users2 }}</p>
            <table>
                <tr v-for="value in users1">
                    <td>{{ value }}</td>
                </tr>
            </table>
            <table>
	            <tr v-for="(person, key) in users">
	            <td>{{ key}}: {{ person }} {{ person.age }}</td>
	            </tr>
            </table>
	    </div>
        </div>
        {% endraw %}
        <script src="static/thirdparty/jquery/jquery-3.3.1.min.js"></script>
	    <script src="static/thirdparty/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	    <script src="static/thirdparty/vue/vue.js"></script>
        <script src="static/thirdparty/axios/axios.min.js"></script>
	    <script src="static/thirdparty/holder/holder.js?v=1"></script>
	    <script src="static/js/vue_examples.js"></script>
    </body>
</html>
